<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="script.js" defer></script>
    <title>View Users</title>
</head>

<body>
    <header>
        <nav>
            <div class="container">
                <h1 class="logo">BCS-5A</h1>
                <ul class="nav-items">
                    <li><a href="#">View Users</a></li>
                    <li><a href="#">Register Users</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section>
        <div class="flexbox">
            <% data.forEach(function(item){ %>
                <div class="card">
                    <div class="image">
                        <img src="/images/<%= item.image %>" alt="Person Image" style="height: 100%; width: 100%;">
                    </div>
                    <div class="container">
                        <h4>
                            <%= item.name %>
                        </h4>
                        <h4>
                            <%= item.id %>
                        </h4>
                        <h4>
                            <%= item.address %>
                        </h4>
                    </div>
                </div>
                <% }); %>
        </div>
    </section>
    <footer> Website Developed By Dawood Usman CopyRight &copy; </footer>
</body>

</html>